* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

:root {
  --primary-color: #2a2066;
  --secondary-color: #00b894;
  --text-color: #333;
  --bg-color: #f4f4f4;
}


